<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>http://bfleischer.github.com/macfuse/release/MacFUSE-2.1.dmg</string>
			<key>Hash</key>
			<string>x8B3f0bk90yzrU8bv1eYBV5YwUg=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.6" AND Ticket.version != "2.1.11"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>2263887</string>
			<key>Version</key>
			<string>2.1.11</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	cTYpwIrMxXNBCzkrSEZzacohwLCt/6DGTuOaDeHDH1dhpHktCsBygdnq/SPMIo05HLXF
	EsY60ZEstgawBV+rVTWl+lfUXzcVTPdabKFNyZdg7drff/GvPcIZgpeGLjF1Zz8e3BkH
	5g5ywg7iSKf8x4YDEeWuhcCa1dp8jPz+e2A=
	</data>
</dict>
</plist>
